%html
  %head
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css'}
    %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'}
    %script{:src => '/default.js'}
  %body
    = yield
